.button-wrapper {
    & .button {
        position: relative;
        border: 0.0625rem solid gray;
        color: blue;
        background: whitesmoke;
        border-radius: 0.5rem;
        padding: 14px 28px 14px 14px;
        font-style: normal;

        &:hover {
            background: darkgrey;
        }

        & span {
            padding-left: 8px;
            padding-right: 0;
            top: 10px;
            color: cornflowerblue;
            position: absolute;
            transform: scale(0.4) rotate(90deg);
        }
    }
}